<div class="container">
    <table class="table">
        <div class="animated fadeInDown">
            <h1 class="text-center">Notes
                <md-button class="md-raised md-primary" href="/">
                    To main page
                </md-button>
            </h1>

        </div>
        <div>
            <tr class="actions_title">
                <th>Status</th>
                <th>Title</th>
                <th>Task</th>
                <th >Action</th>
            </tr>
            <tr ng-repeat="n in allNotes" ng-class="{'bg-success': n.status}" class="{{n._id}}">
                <td>
                    <md-switch ng-model="n.status" aria-label="Switch 1" ng-change="change(n._id)">
                    </md-switch>
                </td>
                <td>
                    {{n.title}}</td>
                <td>{{n.noteBody}}</td>
                <td class="col-md-2 actions">
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="editFunc(n._id); isCollapsed = !isCollapsed"
                                   ng-hide="editMode">
                            Edit
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="delete(n._id)" ng-hide="editMode">
                            Delete
                        </md-button>
                    </section>
                </td>

            </tr>

        </div>
    </table>
    <div uib-collapse="isCollapsed">
        <div class="well well-lg">
            <h3>You are editing task with title : {{note.title}}</h3>

            <input type="text" ng-model="note.noteBody" class="form-control" id="textTitle"
                   placeholder="Body" required/>
        </div>
        <md-button class="md-accent" ng-click="saveChanges(note)"> Save changes</md-button>
    </div>
</div>
