<div class="container">
    <div class="page-header welcomeText animated fadeInUp">
        <h1 class="text-center">Welcome to my ToDo app!   <a class="btn btn-warning" href="/#/notes">To all Notes</a></h1>
    </div>


    <div class="container">

        <form name="form" class="form">
            <div class="form-group">
                <label class="sr-only" for="textTitle">User name</label>
                <input type="text" ng-model="note.title" class="form-control" id="textTitle"
                       placeholder="Title" ng-disabled="editMode" required/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="textNote">Password</label>
                        <textarea ng-model="note.noteBody" class="form-control" id="textNote"
                                  placeholder="Enter text" required></textarea>
            </div>
            <button type="submit" ng-click="send(note)" class="btn btn-success col-md-2"
                    ng-disabled="form.$invalid" ng-hide="">Submit
            </button>
        </form>

    </div>

</div>
