<div class="container">
    <div class="page-header welcomeText animated fadeInUp">
        <h1 class="text-center">Welcome to my ToDo app!
            <md-button class="md-button md-raised md-warn" href="/#!/notes">To all Notes</md-button>
            <md-button class="md-button md-raised md-warn" href="/#!/register">Register</md-button>
        </h1>
    </div>
    <div class="container">

        <form name="form" class="form" id="task_form">
            <div>
                <md-input-container class="md-block">
                    <label>Title for task</label>
                    <input type="text" ng-model="note.title"
                           maxlength="100" required>

                </md-input-container>
            </div>
            <div>
                <md-input-container class="md-block">
                    <label>Title for task</label>
                  <textarea ng-model="note.noteBody" class="form-control"
                            required></textarea>

                </md-input-container>
            </div>
            <md-button type="submit" ng-click="send(note)" class="md-raised md-primary"
                       ng-disabled="form.$invalid" ng-hide="">Submit
            </md-button>
        </form>

    </div>

</div>
