<!DOCTYPE html>
<html lang="en" ng-app="list">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src='scripts/bundle.js'></script>
    <link rel="stylesheet" href="css/bundle.css"/>
</head>
<body>
<div ng-controller="mainCtrl" class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="margin-top:25px;">
                <form name="form" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="textTitle">User name</label>
                        <input type="text" ng-model="note.title" class="form-control" id="textTitle"
                               placeholder="Title"  ng-disabled="editMode" required/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="textNote">Password</label>
                        <input type="text" ng-model="note.noteBody" class="form-control" id="textNote"
                               placeholder="Enter text" required/>
                    </div>
                    <button type="submit" ng-click="send(note)" class="btn btn-success col-md-2"
                            ng-disabled="form.$invalid" ng-hide="">Submit
                    </button>
                </form>
            </div>


    </div>

</div>
    <div class="container">
        <div class="row">
            <div class="col col-md-6">

                <table class="table table-striped">
                    <h1 class="text-center">Notes</h1>
                    <div>
                        <tr>
                            <th>Title</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                        <tr ng-repeat="n in allNotes">
                            <td>{{n.title}}</td>
                            <td>{{n.noteBody}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="edit(n.id)" ng-hide="editMode">
                                    Edit
                                </button>
                                <button class="btn btn-danger" ng-click="delete(n.id)" ng-hide="editMode">
                                    Delete
                                </button>
                            </td>

                        </tr>

                    </div>
                </table>

            </div>

        </div>

        </div>


    </div>

</body>
</html>